@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: "lato", "Open Sans", sans-serif;
    padding: 0;
    background-color: #fafafa;
    color: #333;
    
}

/* HEADER début */
.header-container {
    margin: 0px;
    margin-bottom: 10px;
    
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    height: 40px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo-image {
    height: 40px;
    margin-right: 10px;
}

header .vital {
    color: #6f4e37;
    font-size: 20px;
    font-weight: 700;
}

header .vibe {
    color: #2e8b57;
    font-size: 20px;
    font-weight: 700;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #2e8b57;
}

/*  HEADER fin */

.h1{
    margin-top: 50px;
    text-decoration: underline;
    
}
.abonnement-section {
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    background-image: url('../images/bon_cerveau.jpg');
    background-size: cover;
    background-position: center;
}

.abonnement-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.abonnement-card {
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
}

.abonnement-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.abonnement-card h4 {
    font-size: 18px;
    margin: 10px 0;
}

.abonnement-card ul {
    padding-left: 20px;
    margin: 10px 0;
}

.abonnement-card ul li {
    list-style-type: disc;
    margin-bottom: 5px;
}

.price {
    font-size: 24px;
    color: yellowgreen;
    margin: 10px 0;
}

.abonne-toi-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2e8b57;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: auto;
    align-self: center;
}

.abonne-toi-btn:hover {
    background-color: #6f4e37;
}

/* FOOTER début */
footer {
    background-color: #333;
    color: black;
    text-align: center;
    padding: 50px;
    background-image: url('../images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-footer p {
    margin: 0;
    font-size: 16px;
    color:black;
}



.contact {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.contact-item {
    max-width: 200px;
}

.contact-item h3 {
    color: black;
    margin-bottom: 10px;
}

.contact-item p {
    color: black;
    margin: 0;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icon {
    font-size: 24px;
    color: #2e8b57;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #6f4e37;
}
/* FOOTER fin */
@media screen and (max-width: 1200px) {
    header {
    padding: 10px;
    }
}
@media screen and (max-width: 992px) {
    header {
    padding: 20px;
    }
}
             
@media screen  and (max-width: 768px) {
    
    main{
        flex-basis: 50%;
        align-items: center;
        margin:0 40px;
    }
    header {
        padding: 30px;
    }
}